extends layout

block content
    h1= title
    p Welcome to #{title}


    h2 Get Local Weather Information
    form(action="/detail",method="get")
        p
        label Enter a new City & State :
        input(type='text', placeholder='City', name='newcity')
        input(type='text', placeholder='State e.g: Tx ', name='newstate')
        p
        input(type='submit', value='Submit')

    h3 Here is local weather in some cities
    ul
    each city in cities
        li In #{city.name},#{city.state} the weather is  #{city.info}
